### Making mnemonic table(set)

- load .asm file

In [1]:
import pandas as pd
import os 
import numpy as np

In [2]:
opcode_df = pd.read_excel('D:/virus/opcode.xlsx')

In [3]:
opcode_df.head()

  mnemonic
0      ADD
1      ADD
2      ADD
3      ADD
4      ADD

#################### 

we need a set of opcode mnemonic to check each word in .asm file is opcode or not

####################

In [4]:
opcode_set = set(opcode_df.values.reshape(-1))
print(f'The total number of opcodes in x86 file: {len(opcode_set)}')

The total number of opcodes in x86 file: 269

##################

save opcode_set as opcode_table.csv to reuse 

##################

In [8]:
pd.DataFrame(list(opcode_set)).head()

         0
0      ADX
1  FSINCOS
2      JNP
3  FUCOMIP
4      HLT

In [9]:
path = os.getcwd().replace('\\', '/') +'/opcode_set.csv'
pd.DataFrame(list(opcode_set)).to_csv(path, index=False)